AddType text/html .shtml .shtm .htm .html
AddHandler server-parsed .shtml .shtm .htm .html 
Options Indexes FollowSymLinks Includes
# Uncomment the version of PHP you have on your server
# Only one of the following  can be uncommented
#AddHandler application/x-httpd-php5 .shtml
#AddHandler application/x-httpd-php52 .shtml
AddHandler application/x-httpd-php54 .shtml
#AddHandler application/x-httpd-php4 .shtml

# DISABLE CACHING
<IfModule mod_headers.c>
	Header set Cache-Control "no-cache, no-store, must-revalidate"
	Header set Pragma "no-cache"
	Header set Expires 0
</IfModule>

<Files *>
Header set Cache-Control: "no-cache, private, pre-check=0, post-check=0, max-age=0"
Header set Expires: 0
Header set Pragma: no-cache
</Files>